* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background: white;
    color: black;
    min-height: 100vh;
    scroll-behavior: smooth;
}

/*NAVIGATION BAR*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 40px 100px;
    z-index: 3;
    box-shadow: 3px 3px 10px grey;
    position: fixed;
    transition: 1s;
    width: 100%;
    background-color: #000;
}

nav.sticky {
    padding: 10px 100px;
    background: #000;
    opacity: 0.9;
}

nav .logo {
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1s;
    text-transform: lowercase;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.nav-links li{
    list-style: none;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}
@media (max-width: 1400px){
    .nav-links{
        width: 60%;
    }
}


@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
        z-index: 5;
    }
    .nav-links a{
        color: #fff;
    }
    nav .logo{
        font-size: 20px;
        margin-right: 100px;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.nav-active{
    transform: translateX(0%);
}

nav ul li a:hover {
    color: teal;
}

nav.sticky .logo, nav.sticky ul li a {
    color: #fff;
}
nav.sticky ul li a:hover {
    color: teal;
}
nav.sticky .logo:hover {
    color: teal;
}

/*CONTAINER*/
.section-container {
    width: 100%;
    height: 100%;
}
/*ROZDELENI SEKCI*/
section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*TEXT UNDER MENUBAR*/
.motto {
    padding: 400px 100px;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: 'Montserrat Alternates', sans-serif;
}
/*Parallax ef.*/
.parallax {
    height: 500px;
    background: transparent;
    z-index: 1;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .parallax{
        height: 200px;
    }
  }

/*Hlavní 3D animace*/
.main-anim {
    display: flex;
    position: absolute;
    height: 450px;
    margin-left: 860px;
    margin-top: 330px;
}

@media only screen and (max-width: 768px) {
    .main-anim{
        display: none;
    }
  }


#pismena{
    animation-name: textFly;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes textFly {
    0%{
        transform: translateX(0) translateY(0);
        
    }
    10%{
        transform: translateX(0) translateY(0);
        
    }  
    100%{
        transform: translateX(-110px) translateY(25px);
        
    }
}
#pismena-kostra {
    opacity: 0;
    animation-name: textFlyKostra;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes textFlyKostra {
    0%{
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    10%{
        transform: translateX(0) translateY(0);
        opacity: 0;
    }  
    100%{
        transform: translateX(-110px) translateY(25px);
        opacity: 1;
    }
}

/*STRÁNKA ABOUT A PARALLAX UVNITŘ NÍ*/

.section-container-about {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
}
/* nápis o nás a animace*/
.motto-about {
    display: flex;
    position: relative;
    margin-top: 110px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
    .motto-about{
        margin: 20px;
    }
  }


.motto-about path:nth-child(1){
    stroke-dasharray: 85px;
    stroke-dashoffset: 85px;
    animation: aboutStrokeOne 8s ease infinite;
}
.motto-about path:nth-child(2){
    stroke-dasharray: 105px;
    stroke-dashoffset: 105px;
    animation: aboutStrokeTwo 8s ease infinite;
}
.motto-about path:nth-child(3){
    stroke-dasharray: 80px;
    stroke-dashoffset: 80px;
    animation: aboutStrokeThree 8s ease infinite;
}
.motto-about path:nth-child(4){
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: aboutStrokeFour 8s ease infinite;
}

@keyframes aboutStrokeOne{
    0%{stroke-dashoffset: 85;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 85;}
}
@keyframes aboutStrokeTwo{
    0%{stroke-dashoffset: 105;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 105;}
}
@keyframes aboutStrokeThree{
    0%{stroke-dashoffset: 80;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 80;}
}
@keyframes aboutStrokeFour{
    0%{stroke-dashoffset: 100;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 100;}
}
/*informace*/

.about-content{
    display: flex;
    font-size: 16px;
    letter-spacing: 1px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .about-content{
        width: 380px;
        height: 50vh;
    }
  }

/*stránka služby -> slider*/

.motto-services{
    margin-top: 110px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.motto-services path:nth-child(1){
    stroke-dasharray: 128px;
    stroke-dashoffset: 128px;
    animation:serviceStrokeOne  8s ease infinite;
}
.motto-services path:nth-child(2){
    stroke-dasharray: 68px;
    stroke-dashoffset: 68px;
    animation:serviceStrokeTwo  8s ease infinite;
}
.motto-services path:nth-child(3){
    stroke-dasharray: 107px;
    stroke-dashoffset: 107px;
    animation:serviceStrokeThree  8s ease infinite;
}
.motto-services path:nth-child(4){
    stroke-dasharray: 118px;
    stroke-dashoffset: 118px;
    animation:serviceStrokeFour  8s ease infinite;
}
.motto-services path:nth-child(5){
    stroke-dasharray: 95px;
    stroke-dashoffset: 95px;
    animation:serviceStrokeFive  8s ease infinite;
}
.motto-services path:nth-child(6){
    stroke-dasharray: 138px;
    stroke-dashoffset: 138px;
    animation:serviceStrokeSix  8s ease infinite;
}
@keyframes serviceStrokeOne{
    0%{stroke-dashoffset: 128;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 128;}
}
@keyframes serviceStrokeTwo{
    0%{stroke-dashoffset: 68;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 68;}
}
@keyframes serviceStrokeThree{
    0%{stroke-dashoffset: 107;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 107;}
}
@keyframes serviceStrokeFour{
    0%{stroke-dashoffset: 118;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 118;}
}
@keyframes serviceStrokeFive{
    0%{stroke-dashoffset: 95;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 95;}
}
@keyframes serviceStrokeSix{
    0%{stroke-dashoffset: 138;}
    50%{stroke-dashoffset: 0;}
    100%{stroke-dashoffset: 138;}
}

.swiper {
    width: 90%;
    height: 600px;
    margin-top: 50px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-cont{
    border: 2px solid black;
    border-radius: 25px;
    height: 500px;
    width: 300px;
    padding: 5px;
}

.service-name{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 100%;
    font-size: 25px;
    font-weight: bolder;
}

.service-details{
    font-weight: normal;
    letter-spacing: 1px;
    padding: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 120%;
}

.service-image-microsite{
    margin-top: 95px;
}
.service-image-company{
    margin-top: 15px;
}
.service-image-personal{
    margin-top: 198px;
}
.service-image-blog{
    margin-top: 180px;
}
.service-image-nft{
    margin-top: 105px;
}
.service-image-design{
    margin-top: 105px;
}
.service-image-addweb{
    margin-top: 10px;
}
.service-image-social{
    margin-top: 65px;
}
.service-image-addposter{
    margin-top: 165px;
}


/*Sekce kontaktujte nás*/

.form-label{
    font-size: 20px;
}

.contact-wrapper{
    margin-top: 200px;
    margin-left: 100px;
    max-width: 800px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.write-us{
    margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
    .contact-wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        margin-bottom: 50px;
    }
  }